WebServiceServer/src/main/webapp/wsdl/MathOperations2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Server" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Server" xmlns:intf="http://Server" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Server" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="addSum2">
    <complexType>
     <sequence>
      <element name="x" type="xsd:int"/>
      <element name="y" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addSum2Response">
    <complexType>
     <sequence>
      <element name="addSum2Return" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addSum2Request">

      <wsdl:part element="impl:addSum2" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addSum2Response">

      <wsdl:part element="impl:addSum2Response" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MathOperations2">

      <wsdl:operation name="addSum2">

         <wsdl:input message="impl:addSum2Request" name="addSum2Request">

       </wsdl:input>

         <wsdl:output message="impl:addSum2Response" name="addSum2Response">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MathOperations2SoapBinding" type="impl:MathOperations2">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addSum2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addSum2Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addSum2Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MathOperations2Service">

      <wsdl:port binding="impl:MathOperations2SoapBinding" name="MathOperations2">

         <wsdlsoap:address location="http://localhost:13265/WebServiceServer/services/MathOperations2"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
